*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(1.2); }
  80% {
    scale: 0.8; }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeftReverse {
  0% {
    opacity: 1;
    transform: translateX(0); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(-10rem); } }

@keyframes scaleUpReverse {
  0% {
    opacity: 1;
    transform: scale(1); }
  80% {
    scale: 1.2; }
  100% {
    opacity: 0;
    transform: scale(1.2); } }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #333333; }

.heading-1 {
  font-family: "Mukta", sans-serif;
  font-weight: normal;
  font-size: 3.6rem;
  text-align: center; }

.u-margin-top-big {
  margin-top: 3.2rem !important; }

.u-margin-top-md {
  margin-top: 2.4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 3.2rem !important; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem !important; }

.u-margin-bottom-sm {
  margin-bottom: 0.4rem !important; }

.slides {
  width: 100%;
  min-height: 50rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1.2s;
  opacity: 0;
  pointer-events: none; }

.backgroundimage {
  width: 100%;
  min-height: 50rem;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover; }

.slide img {
  transition: all 0.4s; }

.slide.current img {
  transition: all 0.4s;
  transform: translateX(0%); }

.slide.prev {
  z-index: 10;
  /* transform: translateX(-100%); */
  opacity: 0; }

.slide.current {
  z-index: 10;
  transform: translateX(0);
  opacity: 1;
  pointer-events: all; }

.slide.next {
  z-index: 10;
  /* transform: translateX(100%); */
  opacity: 0; }

.meda,
.nesto,
.grejna,
.radijator,
.naslov,
.grupna {
  position: absolute; }

.meda {
  bottom: 0;
  right: 30%;
  width: 20rem;
  height: auto; }

.current .meda {
  animation: moveInBottom 1s; }

.radijator {
  bottom: 0;
  right: 20%;
  width: 20rem;
  height: auto; }

.current .radijator {
  animation: moveInRight 1s; }

.nesto {
  bottom: 0;
  right: 43%;
  width: 15rem;
  height: auto; }

.current .nesto {
  animation: moveInLeft 1s; }

.grejna {
  top: 10%;
  right: 40%;
  width: 40rem;
  height: auto; }

.current .grejna {
  animation: scaleUp 1s; }

.naslov {
  top: 10%;
  right: 40%;
  width: 40rem;
  animation: moveInLeftReverse 0.8s; }

.current .naslov {
  animation: moveInLeft 1s; }

.grupna {
  bottom: 0;
  right: 10%;
  width: 50rem;
  height: auto;
  animation: scaleUpReverse 0.8s; }

.current .grupna {
  animation: scaleUp 1s; }

.product {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.1);
  width: 25rem;
  border-radius: 0.5rem;
  margin: 3rem auto;
  background-color: #eee;
  z-index: 100;
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  transition: all 0.2s; }
  .product-discounts {
    position: relative;
    height: 3rem;
    width: 100%;
    margin-bottom: 0.6rem; }
    .product-discounts .discount {
      position: absolute;
      right: 0.8rem; }
  .product-img {
    position: relative;
    text-align: center !important;
    padding-top: 1.2rem;
    width: 100%;
    height: auto; }
    .product-img a {
      border: none;
      outline: none; }
    .product-img img {
      width: 23rem;
      height: 21rem;
      transition: all 0.3s;
      margin: 0 auto; }
    .product-img .btnMore {
      position: absolute;
      bottom: 45%;
      left: 17%;
      opacity: 0;
      pointer-events: none;
      transform: translateX(5rem);
      transition: all 0.4s;
      z-index: 100; }
    .product-img-svg {
      position: absolute;
      top: 1.6rem;
      right: 0.8rem;
      z-index: 100; }
      .product-img-svg svg {
        position: relative;
        height: 2.2rem;
        width: 2.2rem;
        transform: translateY(0.2rem);
        fill: #e4e4e4;
        z-index: 1000; }
      .product-img-svg svg:hover {
        fill: #fec156; }
      .product-img-svg-active svg {
        fill: #fec156 !important; }
  .product-img:hover .btnMore {
    opacity: 1;
    pointer-events: initial;
    transform: translateX(0); }
  .product-img:hover img {
    filter: blur(0.3rem); }
  .product-name {
    font-size: 1.7rem; }
    .product-name a:link,
    .product-name a:visited {
      text-decoration: none;
      color: #333333;
      transition: all 0.3s; }
    .product-name a:hover {
      color: #7f1f2c; }
  .product-oldPrice {
    opacity: 0.3; }
  .product-newPrice {
    color: #7f1f2c;
    font-size: 1.8rem; }
  .product-lineThrough {
    text-decoration: line-through;
    opacity: 1;
    text-decoration-color: #7c1424; }
  .product .button svg {
    width: 2rem;
    height: 2rem;
    fill: #7c1424;
    transform: translate(0rem, 0.4rem); }
  .product a.button:link,
  .product a.button:visited {
    width: 16rem;
    outline: none;
    padding: 0.4rem 0em;
    border-radius: 0.5rem;
    border: none;
    background-color: #fac053;
    color: #7c1424;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s; }
    .product a.button:link span,
    .product a.button:visited span {
      padding-left: 0.6rem;
      vertical-align: 0.1rem; }
    .product a.button:link span::before,
    .product a.button:visited span::before {
      content: "";
      margin-right: 0.6rem;
      height: 3px;
      border-right: 1px solid #7c1424; }
  .product a.button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.334), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.2); }

.product:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.3); }

.slick-prev,
.slick-next {
  z-index: 100 !important; }

.slick-prev:before,
.slick-next:before {
  color: #7f1f2c !important;
  font-size: 3.5rem !important; }

.sliderPele {
  outline: none; }

.discount {
  background: #fec156;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5rem; }
  .discount span {
    font-size: 1.7rem;
    font-weight: bold;
    transform: translate(0.2rem, 0.5rem); }

.discount:after {
  border-top: 1.8rem solid #fec156;
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 2.5rem;
  width: 5rem;
  z-index: 100; }

.pointer {
  width: 13rem;
  height: 2.3rem;
  position: absolute;
  background: #7f1f2c;
  color: #fefefe;
  top: 0.8rem;
  text-align: left; }
  .pointer span {
    margin-left: 0.8rem;
    font-size: 1.5rem; }

.pointer:before {
  content: "";
  position: absolute;
  right: -1.5rem;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 1.5rem solid #7f1f2c;
  border-top: 1.15rem solid transparent;
  border-bottom: 1.15rem solid transparent; }

.header__top {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 10rem; }
  .header__top-container {
    background-color: #7f1f2c; }
  .header__top-logo a:link,
  .header__top-logo a:visited {
    text-decoration: none;
    color: #7f1f2c; }
  .header__top-logo img {
    margin-top: 0.8rem;
    width: 26rem;
    height: auto; }
  .header__top-search-container {
    position: relative;
    width: auto; }
  .header__top-search form {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__top-search form input {
      width: 40rem;
      height: 3.2rem;
      padding: 0.8rem;
      border: 1px solid #e4e4e4;
      border-radius: 0.4rem 0 0 0.4rem;
      outline: none; }
    .header__top-search form input:focus {
      border: 1px solid #e4e4e4; }
    .header__top-search form a {
      background-color: #fec156;
      height: 3.2rem;
      width: 4.8rem;
      border-radius: 0 0.4rem 0.4rem 0;
      position: relative; }
    .header__top-search form svg {
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      top: 0.5rem;
      right: 1.3rem;
      fill: #7f1f2c; }
  .header__top-search .activeBox {
    opacity: 1;
    pointer-events: all; }
  .header__top-search-box {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 3.2rem;
    z-index: 10000; }
    .header__top-search-box ul {
      list-style-type: none; }
    .header__top-search-box a {
      width: 40rem;
      display: flex;
      transition: all 0.2s;
      background-color: #fefefe;
      padding: 0.4rem;
      border-bottom: 0.1rem solid #333333; }
      .header__top-search-box a img {
        width: 5rem;
        height: 5rem;
        margin-right: 0.8rem; }
    .header__top-search-box li:last-of-type a {
      background-color: #7f1f2c;
      color: #fefefe;
      border: 0px solid black;
      border-radius: 0rem 0 1rem 1rem;
      display: flex;
      justify-content: center; }
    .header__top-search-box a:link,
    .header__top-search-box a:visited {
      text-decoration: none;
      color: #333333; }
    .header__top-search-box a:hover {
      background-color: #e4e4e4; }
    .header__top-search-box p:first-of-type {
      font-size: 1.8rem; }
  .header__top-icons {
    display: flex; }
    .header__top-icons svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: #fec156;
      cursor: pointer;
      overflow: hidden; }
    .header__top-icons svg:first-of-type {
      margin-right: 4rem; }
    .header__top-icons-user {
      position: relative; }
      .header__top-icons-user .openUser {
        position: absolute;
        width: 25rem;
        left: -18.2rem;
        top: 5rem;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0rem -0.3rem 0.7rem rgba(51, 51, 51, 0.16); }
        .header__top-icons-user .openUser form {
          padding: 0.8rem 1.2rem;
          background-color: white; }
        .header__top-icons-user .openUser button {
          width: 20rem;
          padding: 0.8rem;
          background-color: #7f1f2c;
          border-radius: 0.5rem;
          outline: none;
          margin-top: 0.8rem;
          border: none;
          cursor: pointer;
          box-shadow: 0.2rem 0.4rem 0.7rem rgba(51, 51, 51, 0.3);
          color: #fefefe;
          margin-bottom: 0.4rem; }
        .header__top-icons-user .openUser a:link,
        .header__top-icons-user .openUser a:visited {
          text-decoration: none;
          color: #333333; }
        .header__top-icons-user .openUser a {
          font-size: 1.4rem;
          transition: all 0.3s; }
        .header__top-icons-user .openUser a:hover {
          color: #7f1f2c; }
        .header__top-icons-user .openUser hr {
          margin: 0.4rem 0rem;
          border: 0.1rem solid #e4e4e4; }
        .header__top-icons-user .openUser p {
          font-size: 1.3rem; }
        .header__top-icons-user .openUser a.registruj {
          background-color: #fec156;
          width: 20rem;
          padding: 0.8rem;
          border-radius: 0.5rem;
          outline: none;
          margin-top: 0.8rem;
          border: none;
          cursor: pointer;
          box-shadow: 0.2rem 0.4rem 0.7rem rgba(51, 51, 51, 0.3);
          color: #7f1f2c;
          margin-bottom: 0.4rem;
          display: block;
          text-align: center; }
        .header__top-icons-user .openUser input {
          border: none;
          border-bottom: 0.2px solid #e4e4e4;
          margin-top: 0.8rem;
          outline: none;
          border-radius: 0.5rem;
          padding: 0.4rem; }
        .header__top-icons-user .openUser input:focus {
          background-color: #eee; }
      .header__top-icons-user .userActive {
        opacity: 1 !important;
        pointer-events: all;
        transition: all 0.4s;
        z-index: 10000; }
      .header__top-icons-user .openUser.arrow-top:after {
        content: " ";
        position: absolute;
        right: 4rem;
        top: -1rem;
        border-top: none;
        border-right: 1.1rem solid transparent;
        border-left: 1.1rem solid transparent;
        border-bottom: 1.1rem solid #7f1f2c; }
    .header__top-icons-cart {
      position: relative; }
      .header__top-icons-cart .openCart {
        position: absolute;
        width: 25rem;
        left: -15rem;
        top: 5rem;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0rem -0.3rem 0.7rem rgba(51, 51, 51, 0.16); }
        .header__top-icons-cart .openCart ul {
          list-style-type: none; }
        .header__top-icons-cart .openCart a {
          width: 25rem;
          display: flex;
          align-items: center;
          transition: all 0.2s;
          font-size: 1rem;
          background-color: #fefefe;
          padding: 0.4rem;
          border-bottom: 0.1rem solid #333333; }
          .header__top-icons-cart .openCart a img {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.8rem; }
        .header__top-icons-cart .openCart li:last-of-type a {
          background-color: #7f1f2c;
          color: #fefefe;
          border: 0px solid black;
          border-radius: 0rem 0 1rem 1rem;
          display: flex;
          font-size: 1.2rem;
          justify-content: center;
          box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.25); }
        .header__top-icons-cart .openCart a:link,
        .header__top-icons-cart .openCart a:visited {
          text-decoration: none;
          color: #333333; }
        .header__top-icons-cart .openCart a:hover {
          background-color: #e4e4e4; }
      .header__top-icons-cart .openCart.arrow-top:after {
        content: " ";
        position: absolute;
        right: 7rem;
        top: -1rem;
        border-top: none;
        border-right: 1.1rem solid transparent;
        border-left: 1.1rem solid transparent;
        border-bottom: 1.1rem solid #7f1f2c; }
      .header__top-icons-cart .cartActive {
        opacity: 1 !important;
        pointer-events: all;
        transition: all 0.4s;
        z-index: 10000; }
      .header__top-icons-cart span {
        position: absolute;
        top: -0.6rem;
        left: 2.2rem;
        background-color: #fec156;
        color: #7f1f2c;
        font-size: 1.3rem;
        border-radius: 50%;
        width: 2rem;
        text-align: center; }
      .header__top-icons-cart-price {
        padding: 0.4rem 0.8rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        align-content: center;
        align-items: center;
        background-color: #7f1f2c;
        color: #fefefe; }
      .header__top-icons-cart .cartActive {
        opacity: 1 !important;
        pointer-events: all; }

.header__nav {
  background-color: #e4e4e4; }
  .header__nav-container {
    width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 23% 77%;
    align-content: center;
    align-items: center;
    height: 4rem; }
  .header__nav-nav {
    background-color: #eee;
    padding: 0.6rem;
    margin-right: 2.4rem;
    text-transform: uppercase;
    font-family: "Mukta", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    box-shadow: 0px -0.3rem 0.5rem 0px rgba(51, 51, 51, 0.2); }
    .header__nav-nav-menu {
      margin-right: 1.2rem; }
      .header__nav-nav-menu div {
        margin-top: 0.2rem;
        width: 2.5rem;
        height: 0.2rem;
        background-color: #333333;
        margin-bottom: 0.5rem; }
    .header__nav-nav-products {
      position: absolute;
      top: 0;
      left: 25.3rem;
      background-color: #fefefe;
      width: 90rem;
      height: 45rem;
      box-shadow: 0.8rem 0.4rem 2rem 0rem rgba(51, 51, 51, 0.2);
      display: none;
      text-transform: none; }
      .header__nav-nav-products p {
        position: absolute;
        bottom: 1rem;
        right: 2rem; }
      .header__nav-nav-products .closeProduct {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-family: "Mukta", sans-serif;
        display: block;
        background-color: #7f1f2c;
        width: 2.5rem;
        height: 2.5rem;
        color: #fefefe;
        cursor: pointer;
        border-radius: 50%;
        text-align: center; }
      .header__nav-nav-products .closeProduct:after {
        content: "";
        height: 2rem;
        border-left: 2px solid #fefefe;
        position: absolute;
        transform: rotate(45deg);
        top: 0.22rem; }
      .header__nav-nav-products .closeProduct:before {
        content: "";
        height: 2rem;
        border-left: 2px solid #fefefe;
        position: absolute;
        transform: rotate(-45deg);
        top: 0.22rem; }
      .header__nav-nav-products-container {
        display: grid;
        grid-template-columns: repeat(4, 25%); }
      .header__nav-nav-products div {
        padding: 0.4rem 0.8rem; }
      .header__nav-nav-products h3 {
        font-weight: normal; }
      .header__nav-nav-products hr {
        width: 18rem;
        margin-bottom: 0.4rem;
        border: 0.1rem solid #e4e4e4; }
      .header__nav-nav-products a {
        transition: all 0.4s;
        font-size: 1.5rem; }
      .header__nav-nav-products a:link,
      .header__nav-nav-products a:visited {
        text-decoration: none;
        color: #333333; }
      .header__nav-nav-products a:hover {
        color: #7f1f2c; }
    .header__nav-nav-products.openProducts {
      display: block; }
    .header__nav-nav-navbar {
      position: absolute;
      background-color: #e4e4e4;
      top: 3.9rem;
      right: -0.1rem;
      z-index: 1000; }
      .header__nav-nav-navbar ul {
        list-style-type: none;
        width: 25.3rem; }
      .header__nav-nav-navbar a.navlinks:link,
      .header__nav-nav-navbar a.navlinks:visited {
        text-decoration: none;
        color: #333333; }
      .header__nav-nav-navbar a.navlinks {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 1.6rem;
        transition: all 0.4s; }
        .header__nav-nav-navbar a.navlinks svg {
          width: 2rem; }
      .header__nav-nav-navbar a.navlinks:hover {
        border-top: solid 1px rgba(51, 51, 51, 0.2);
        border-bottom: solid 1px rgba(51, 51, 51, 0.2);
        padding: 0.3rem 1.2rem;
        color: #7f1f2c;
        background-color: #eee; }
      .header__nav-nav-navbar a.navlinks.active {
        color: #e4e4e4;
        background-color: #7f1f2c; }
      .header__nav-nav-navbar a.navlinks.active svg {
        fill: #e4e4e4; }
    .header__nav-nav p {
      font-size: 1.8rem; }
  .header__nav svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
    fill: #7f1f2c; }
  .header__nav-links {
    display: flex;
    align-content: center; }
    .header__nav-links a:visited,
    .header__nav-links a:link {
      text-decoration: none;
      color: #333333;
      transition: all 0.2s; }
    .header__nav-links a:hover {
      color: #7f1f2c; }
  .header__nav-phone {
    display: flex;
    margin-right: 5rem;
    align-items: center; }
  .header__nav-mail {
    display: flex;
    align-items: center; }

.header__slider {
  width: 100%;
  height: 100%;
  position: relative; }
  .header__slider svg {
    width: 5rem;
    height: 5rem; }
  .header__slider-left {
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translate(-50%, -50%);
    fill: #fefefe;
    cursor: pointer;
    z-index: 100; }
  .header__slider-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    fill: #fefefe;
    cursor: pointer;
    z-index: 100; }

.products {
  text-align: center; }
  .products h2 {
    font-family: "Mukta", sans-serif;
    font-size: 3rem;
    font-weight: normal; }
  .products__container {
    width: 120rem;
    margin: 0 auto;
    text-align: center; }

.info {
  background-color: #e4e4e4; }
  .info__container {
    width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem; }
  .info__item {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    text-align: center; }
    .info__item svg {
      width: 6rem;
      height: 6rem;
      transition: all 0.3s;
      margin-bottom: 0.6rem;
      fill: #7f1f2c;
      opacity: 0.9; }
    .info__item h3 {
      margin-bottom: 0.8rem;
      font-family: "Mukta", sans-serif;
      font-size: 2rem;
      text-transform: uppercase; }
    .info__item svg:hover {
      opacity: 1; }

.footer {
  display: flex;
  width: 100%;
  height: 30rem;
  background-color: #333333;
  color: #fefefe;
  align-items: center;
  justify-content: center; }

#return-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: rgba(127, 31, 44, 0.7);
  width: 5rem;
  height: 5rem;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
  z-index: 10; }

#return-to-top svg {
  fill: #fefefe;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 3rem;
  height: 3rem; }

#return-to-top:hover {
  background: rgba(127, 31, 44, 0.9); }

#return-to-top:hover svg {
  color: #fff;
  top: 30%; }
