*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 77em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(1.2); }
  80% {
    scale: 0.8; }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeftReverse {
  0% {
    opacity: 1;
    transform: translateX(0); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(-10rem); } }

@keyframes scaleUpReverse {
  0% {
    opacity: 1;
    transform: scale(1); }
  80% {
    scale: 1.2; }
  100% {
    opacity: 0;
    transform: scale(1.2); } }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #333333; }

.heading-1 {
  font-family: "Blinker", sans-serif;
  font-weight: normal;
  font-size: 3.6rem;
  text-align: center; }

.u-margin-top-big {
  margin-top: 3.2rem !important; }

.u-margin-top-md {
  margin-top: 2.4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 3.2rem !important; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem !important; }

.u-margin-bottom-sm {
  margin-bottom: 0.4rem !important; }

.slides {
  width: 100%;
  min-height: 50rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1.2s;
  opacity: 0;
  pointer-events: none; }

.backgroundimage {
  width: 100%;
  min-height: 50rem;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover; }

.slide img {
  transition: all 0.4s; }

.slide.current img {
  transition: all 0.4s;
  transform: translateX(0%); }

.slide.prev {
  z-index: 10;
  /* transform: translateX(-100%); */
  opacity: 0; }

.slide.current {
  z-index: 10;
  transform: translateX(0);
  opacity: 1;
  pointer-events: all; }

.slide.next {
  z-index: 10;
  /* transform: translateX(100%); */
  opacity: 0; }

.meda,
.nesto,
.grejna,
.radijator,
.naslov,
.grupna {
  position: absolute; }

.meda {
  bottom: 0;
  right: 30%;
  width: 20rem;
  height: auto; }

.current .meda {
  animation: moveInBottom 1s; }

.radijator {
  bottom: 0;
  right: 20%;
  width: 20rem;
  height: auto; }

.current .radijator {
  animation: moveInRight 1s; }

.nesto {
  bottom: 0;
  right: 43%;
  width: 15rem;
  height: auto; }

.current .nesto {
  animation: moveInLeft 1s; }

.grejna {
  top: 10%;
  right: 40%;
  width: 40rem;
  height: auto; }

.current .grejna {
  animation: scaleUp 1s; }

.naslov {
  top: 10%;
  right: 40%;
  width: 40rem;
  animation: moveInLeftReverse 0.8s; }

.current .naslov {
  animation: moveInLeft 1s; }

.grupna {
  bottom: 0;
  right: 10%;
  width: 50rem;
  height: auto;
  animation: scaleUpReverse 0.8s; }

.current .grupna {
  animation: scaleUp 1s; }

.product {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.1);
  width: 25rem;
  border-radius: 0.5rem;
  margin: 3rem auto;
  background-color: #eee;
  z-index: 100;
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  transition: all 0.2s; }
  .product-discounts {
    position: relative;
    height: 3rem;
    width: 100%;
    margin-bottom: 0.6rem; }
    .product-discounts .discount {
      position: absolute;
      right: 0.8rem; }
  .product-img {
    position: relative;
    text-align: center !important;
    padding-top: 1.2rem;
    width: 100%;
    height: auto; }
    .product-img a {
      border: none;
      outline: none; }
    .product-img img {
      width: 23rem;
      height: 21rem;
      transition: all 0.3s;
      margin: 0 auto; }
    .product-img .btnMore {
      position: absolute;
      bottom: 45%;
      left: 17%;
      opacity: 0;
      pointer-events: none;
      transform: translateX(5rem);
      transition: all 0.4s;
      z-index: 100; }
    .product-img-svg {
      position: absolute;
      top: 1.6rem;
      right: 0.8rem;
      z-index: 100; }
      .product-img-svg svg {
        position: relative;
        height: 2.2rem;
        width: 2.2rem;
        transform: translateY(0.2rem);
        fill: #e4e4e4;
        z-index: 1000; }
      .product-img-svg svg:hover {
        fill: #fec156; }
      .product-img-svg-active svg {
        fill: #fec156 !important; }
  .product-img:hover .btnMore {
    opacity: 1;
    pointer-events: initial;
    transform: translateX(0); }
  .product-img:hover img {
    filter: blur(0.3rem); }
  .product-name {
    font-size: 1.7rem; }
    .product-name a:link,
    .product-name a:visited {
      text-decoration: none;
      color: #333333;
      transition: all 0.3s; }
    .product-name a:hover {
      color: #7f1f2c; }
  .product-oldPrice {
    opacity: 0.3; }
  .product-newPrice {
    color: #7f1f2c;
    font-size: 1.8rem; }
  .product-lineThrough {
    text-decoration: line-through;
    opacity: 1;
    text-decoration-color: #7c1424; }
  .product .button svg {
    width: 2rem;
    height: 2rem;
    fill: #7c1424;
    transform: translate(0rem, 0.4rem); }
  .product a.button:link,
  .product a.button:visited {
    width: 16rem;
    outline: none;
    padding: 0.4rem 0em;
    border-radius: 0.5rem;
    border: none;
    background-color: #fac053;
    color: #7c1424;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s; }
    .product a.button:link span,
    .product a.button:visited span {
      padding-left: 0.6rem;
      vertical-align: 0.1rem; }
    .product a.button:link span::before,
    .product a.button:visited span::before {
      content: "";
      margin-right: 0.6rem;
      height: 3px;
      border-right: 1px solid #7c1424; }
  .product a.button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.334), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.2); }

.product:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.3); }

.slick-prev,
.slick-next {
  z-index: 100 !important; }

.slick-prev:before,
.slick-next:before {
  color: #7f1f2c !important;
  font-size: 3.5rem !important; }

.sliderPele {
  outline: none; }

.discount {
  background: #fec156;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5rem; }
  .discount span {
    font-size: 1.7rem;
    font-weight: bold;
    transform: translate(0.2rem, 0.5rem); }

.discount:after {
  border-top: 1.8rem solid #fec156;
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 2.5rem;
  width: 5rem;
  z-index: 100; }

.pointer {
  width: 13rem;
  height: 2.3rem;
  position: absolute;
  background: #7f1f2c;
  color: #fefefe;
  top: 0.8rem;
  text-align: left; }
  .pointer span {
    margin-left: 0.8rem;
    font-size: 1.5rem; }

.pointer:before {
  content: "";
  position: absolute;
  right: -1.5rem;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 1.5rem solid #7f1f2c;
  border-top: 1.15rem solid transparent;
  border-bottom: 1.15rem solid transparent; }

.hamburger {
  display: none;
  position: absolute;
  top: 3.2rem;
  left: 2.5rem;
  z-index: 9999;
  font-family: "Blinker", sans-serif; }
  @media only screen and (max-width: 34.5em) {
    .hamburger {
      top: 9rem; } }
  @media only screen and (max-width: 28em) {
    .hamburger {
      top: 8.6rem;
      left: 1.2rem; } }

.openHamburger .hamburger span {
  background: #7f1f2c; }

.openHamburger .hamburger input:checked ~ span {
  background: #7f1f2c; }

.openHamburger .header__nav-nav {
  transform: translateY(-0.1rem);
  z-index: 1000; }

.openHamburger .openHamburgerRight {
  margin-left: 4.2rem;
  margin-top: 0.3rem; }

.openHamburger .hamburger {
  position: absolute;
  display: block;
  top: 1.2rem;
  left: 1.1rem;
  z-index: 9999; }
  .openHamburger .hamburger .closeProduct:after {
    left: 1.2rem; }
  .openHamburger .hamburger .closeProduct:before {
    left: 1.2rem; }
  .openHamburger .hamburger .header__nav {
    transition: all 0.5s cubic-bezier(0.67, 0.3, 0.05, 1);
    opacity: 0;
    pointer-events: none;
    z-index: 9999; }
  .openHamburger .hamburger .header__nav-nav-navbar {
    right: auto;
    left: -1.1rem;
    top: 2.7rem;
    z-index: 100000000 !important; }
    .openHamburger .hamburger .header__nav-nav-navbar ul {
      z-index: 9999; }

.hamburger input {
  display: block;
  width: 3rem;
  height: 3.2rem;
  position: absolute;
  top: -0.7rem;
  left: -0.4rem;
  cursor: pointer;
  opacity: 0;
  z-index: 33;
  -webkit-touch-callout: none; }

.hamburger span {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin-bottom: 0.5rem;
  position: relative;
  background: #fec156;
  border-radius: 0.3rem;
  z-index: 1;
  transform-origin: 0.4rem 0px;
  transition: transform 0.5s cubic-bezier(0.67, 0.3, 0.05, 1); }

.hamburger span:first-child {
  transform-origin: 0% 0%; }

.hamburger span:nth-last-child(1) {
  transform-origin: 0% 100%; }

.hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0.2rem, 0.1rem);
  background: #fec156; }

.hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

.hamburger input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0rem, -0.2rem); }

/*
   * And let's fade it in from the left
   */
.hamburger input:checked ~ .header__nav {
  transform: none;
  opacity: 1;
  pointer-events: all; }

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center; }

.label-cbx input:checked + .checkbox {
  border-color: #7f1f2c; }

.label-cbx input:checked + .checkbox svg path {
  fill: #7f1f2c; }

.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0; }

.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0; }

.label-cbx .checkbox {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid #c8ccd4;
  border-radius: 3px;
  margin-right: 0.8rem; }

.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px; }

.label-cbx .checkbox svg path {
  fill: none;
  stroke: #7f1f2c;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 69px;
  stroke-dashoffset: 69px;
  transition: all 0.6s ease; }

.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #e4e4e4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease; }

.label-cbx > span {
  pointer-events: none;
  vertical-align: middle; }

.cntr {
  left: 0.6rem;
  width: 100%;
  margin-bottom: 0.4rem; }

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0; }

.custom-select {
  width: 16rem;
  position: relative;
  right: 0;
  font-family: "Blinker", sans-serif;
  z-index: 999; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: transparent; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 1.6rem;
  right: 1rem;
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-color: #7f1f2c transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #7f1f2c transparent;
  top: 0.7rem; }

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  z-index: 999;
  color: #7f1f2c;
  padding: 0.4rem 1.2rem;
  border: 0.1rem solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  background-color: #eee; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fefefe;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.cartBreadcrumbs {
  width: 120rem;
  margin: 0 auto 3.2rem auto; }
  .cartBreadcrumbs h1 {
    text-align: center;
    font-family: "Blinker", sans-serif;
    font-weight: normal;
    padding-top: 2.4rem;
    margin-bottom: 1.6rem; }

.crumbs {
  text-align: center; }
  .crumbs ul {
    list-style: none;
    display: inline-table; }
    .crumbs ul li {
      user-select: none;
      display: inline;
      text-transform: uppercase;
      display: block;
      float: left;
      height: 4rem;
      background: #e4e4e4;
      text-align: center;
      padding: 0.8rem 5rem 0 5rem;
      position: relative;
      margin: 0 1rem 0 0;
      font-size: 1.8rem;
      text-decoration: none;
      color: #7f1f2c; }
      .crumbs ul li:after {
        content: "";
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-left: 2rem solid #e4e4e4;
        position: absolute;
        right: -2rem;
        top: 0;
        z-index: 1; }
      .crumbs ul li:before {
        content: "";
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-left: 2rem solid #fff;
        position: absolute;
        left: 0;
        top: 0; }

.crumbs ul li:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }

.crumbs ul li:first-child::before {
  display: none; }

.crumbs ul li:last-child {
  padding-right: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.crumbs ul li:last-child::after {
  display: none; }

.crumbs .active {
  background: #7f1f2c;
  color: #fff; }

.crumbs .active:after {
  border-left-color: #7f1f2c;
  color: #fff; }

.header__top {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 33% 42.5% 24.5%;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  height: 10rem; }
  @media only screen and (max-width: 77em) {
    .header__top {
      padding: 1.2rem; } }
  @media only screen and (max-width: 50em) {
    .header__top {
      opacity: 1;
      top: 0;
      height: 8rem;
      z-index: 100; }
      .header__top .hamburger {
        display: block; }
      .header__top .header__nav {
        transition: all 0.5s cubic-bezier(0.67, 0.3, 0.05, 1);
        opacity: 0;
        pointer-events: none; }
      .header__top .header__nav-nav-navbar {
        right: auto;
        left: -2.5rem;
        top: 4.8rem; } }
  @media only screen and (max-width: 34.5em) {
    .header__top .header__nav-nav-navbar {
      right: auto;
      left: -2.5rem;
      top: 3rem; } }
  @media only screen and (max-width: 28em) {
    .header__top .header__nav-nav-navbar {
      right: auto;
      left: -1.2rem;
      top: 3.4rem; } }
  @media only screen and (max-width: 50em) {
    .header__top {
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(2, 1fr);
      height: 12rem;
      row-gap: 0.4rem; } }
  .header__top-container {
    background-color: #7f1f2c; }
  @media only screen and (max-width: 50em) {
    .header__top-logo {
      margin-left: 5rem; } }
  @media only screen and (max-width: 34.5em) {
    .header__top-logo {
      margin-left: 0rem; } }
  .header__top-logo a:link,
  .header__top-logo a:visited {
    text-decoration: none;
    color: #7f1f2c; }
  .header__top-logo img {
    margin-top: 0.8rem;
    width: 29rem;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .header__top-logo img {
        width: 24rem; } }
    @media only screen and (max-width: 28em) {
      .header__top-logo img {
        width: 20rem; } }
  @media only screen and (max-width: 50em) {
    .header__top-search {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3; } }
  @media only screen and (max-width: 34.5em) {
    .header__top-search {
      justify-self: right; } }
  .header__top-search-container {
    position: relative;
    width: auto; }
  .header__top-search form {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__top-search form input {
      width: 40rem;
      height: 3.2rem;
      padding: 0.8rem;
      border: 1px solid #e4e4e4;
      border-radius: 0.4rem 0 0 0.4rem;
      outline: none; }
      @media only screen and (max-width: 56.25em) {
        .header__top-search form input {
          width: 32rem; } }
      @media only screen and (max-width: 28em) {
        .header__top-search form input {
          width: 26rem; } }
    .header__top-search form input:focus {
      border: 1px solid #e4e4e4; }
    .header__top-search form a {
      background-color: #fec156;
      height: 3.2rem;
      width: 4.8rem;
      border-radius: 0 0.4rem 0.4rem 0;
      position: relative; }
    .header__top-search form svg {
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      top: 0.5rem;
      right: 1.3rem;
      fill: #7f1f2c; }
  .header__top-search .activeBox {
    opacity: 1;
    pointer-events: all; }
  .header__top-search-box {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 3.2rem;
    z-index: 10000; }
    .header__top-search-box ul {
      list-style-type: none; }
    .header__top-search-box a {
      width: 40rem;
      display: flex;
      transition: all 0.2s;
      background-color: #fefefe;
      padding: 0.4rem;
      border-bottom: 0.1rem solid #333333; }
      @media only screen and (max-width: 34.5em) {
        .header__top-search-box a {
          width: 30.8rem;
          border-radius: 0.4rem; } }
      .header__top-search-box a img {
        width: 5rem;
        height: 5rem;
        margin-right: 0.8rem; }
        @media only screen and (max-width: 34.5em) {
          .header__top-search-box a img {
            width: 4rem;
            height: 4rem;
            margin-right: 0.6rem; } }
    .header__top-search-box li:last-of-type a {
      background-color: #7f1f2c;
      color: #fefefe;
      border: 0px solid black;
      border-radius: 0rem 0 1rem 1rem;
      display: flex;
      justify-content: center; }
    .header__top-search-box a:link,
    .header__top-search-box a:visited {
      text-decoration: none;
      color: #333333; }
    .header__top-search-box a:hover {
      background-color: #e4e4e4; }
    @media only screen and (max-width: 34.5em) {
      .header__top-search-box p {
        font-size: 1.4rem; } }
    .header__top-search-box p:first-of-type {
      font-size: 1.8rem; }
      @media only screen and (max-width: 34.5em) {
        .header__top-search-box p:first-of-type {
          font-size: 1.6rem; } }
  .header__top-icons {
    justify-self: right;
    display: flex; }
    .header__top-icons svg {
      width: 3.6rem;
      height: 3.6rem;
      fill: #fec156;
      cursor: pointer;
      overflow: hidden; }
      @media only screen and (max-width: 28em) {
        .header__top-icons svg {
          width: 3rem;
          height: 3rem; } }
    .header__top-icons .star,
    .header__top-icons .cart {
      margin-right: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .header__top-icons .star,
        .header__top-icons .cart {
          margin-right: 3.2rem; } }
      @media only screen and (max-width: 28em) {
        .header__top-icons .star,
        .header__top-icons .cart {
          margin-right: 2rem; } }
    .header__top-icons-user {
      position: relative; }
      .header__top-icons-user .openUser {
        position: absolute;
        width: 25rem;
        left: -18.2rem;
        top: 5rem;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0rem -0.3rem 0.7rem rgba(51, 51, 51, 0.16); }
        .header__top-icons-user .openUser form {
          padding: 0.8rem 1.2rem;
          background-color: white; }
        .header__top-icons-user .openUser button {
          width: 20rem;
          padding: 0.8rem;
          background-color: #7f1f2c;
          border-radius: 0.5rem;
          outline: none;
          margin-top: 0.8rem;
          border: none;
          cursor: pointer;
          box-shadow: 0.2rem 0.4rem 0.7rem rgba(51, 51, 51, 0.3);
          color: #fefefe;
          margin-bottom: 0.4rem; }
        .header__top-icons-user .openUser a:link,
        .header__top-icons-user .openUser a:visited {
          text-decoration: none;
          color: #333333; }
        .header__top-icons-user .openUser a {
          font-size: 1.4rem;
          transition: all 0.3s; }
        .header__top-icons-user .openUser a:hover {
          color: #7f1f2c; }
        .header__top-icons-user .openUser hr {
          margin: 0.4rem 0rem;
          border: 0.1rem solid #e4e4e4; }
        .header__top-icons-user .openUser p {
          font-size: 1.3rem; }
        .header__top-icons-user .openUser a.registruj {
          background-color: #fec156;
          width: 20rem;
          padding: 0.8rem;
          border-radius: 0.5rem;
          outline: none;
          margin-top: 0.8rem;
          border: none;
          cursor: pointer;
          box-shadow: 0.2rem 0.4rem 0.7rem rgba(51, 51, 51, 0.3);
          color: #7f1f2c;
          margin-bottom: 0.4rem;
          display: block;
          text-align: center; }
        .header__top-icons-user .openUser input {
          border: none;
          border-bottom: 0.2px solid #e4e4e4;
          margin-top: 0.8rem;
          outline: none;
          border-radius: 0.5rem;
          padding: 0.4rem; }
        .header__top-icons-user .openUser input:focus {
          background-color: #eee; }
      .header__top-icons-user .userActive {
        opacity: 1 !important;
        pointer-events: all;
        transition: all 0.4s;
        z-index: 10000; }
      .header__top-icons-user .openUser.arrow-top:after {
        content: " ";
        position: absolute;
        right: 4rem;
        top: -1rem;
        border-top: none;
        border-right: 1.1rem solid transparent;
        border-left: 1.1rem solid transparent;
        border-bottom: 1.1rem solid #fec156; }
    .header__top-icons .cart span {
      position: absolute;
      top: -0.6rem;
      left: 2.8rem;
      background-color: #fec156;
      color: #7f1f2c;
      font-size: 1.3rem;
      border-radius: 50%;
      width: 2rem;
      text-align: center; }
      @media only screen and (max-width: 28em) {
        .header__top-icons .cart span {
          width: 1.6rem;
          height: 1.6rem;
          line-height: 1.6rem; } }
    .header__top-icons .star span {
      position: absolute;
      top: -0.6rem;
      left: 2.2rem;
      background-color: #fec156;
      color: #7f1f2c;
      font-size: 1.3rem;
      border-radius: 50%;
      width: 2rem;
      text-align: center; }
      @media only screen and (max-width: 28em) {
        .header__top-icons .star span {
          width: 1.6rem;
          height: 1.6rem;
          line-height: 1.6rem; } }
    .header__top-icons-cart {
      position: relative; }
      .header__top-icons-cart .openCart,
      .header__top-icons-cart .openStar {
        position: absolute;
        width: 25rem;
        left: -15rem;
        top: 5rem;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0rem -0.3rem 0.7rem rgba(51, 51, 51, 0.16); }
        .header__top-icons-cart .openCart ul,
        .header__top-icons-cart .openStar ul {
          list-style-type: none; }
        .header__top-icons-cart .openCart li,
        .header__top-icons-cart .openStar li {
          position: relative;
          width: 100%; }
        .header__top-icons-cart .openCart .removeFromCart,
        .header__top-icons-cart .openStar .removeFromCart {
          position: absolute;
          top: 0.8rem;
          right: 0.5rem;
          font-family: "Blinker", sans-serif;
          display: block;
          background-color: #7f1f2c;
          width: 2.1rem;
          height: 2.1rem;
          color: #fefefe;
          cursor: pointer;
          border-radius: 50%;
          text-align: center;
          opacity: 0.8;
          transition: all 0.3s; }
        .header__top-icons-cart .openCart .removeFromCart:after,
        .header__top-icons-cart .openStar .removeFromCart:after {
          content: "";
          height: 1.6rem;
          border-left: 2px solid #fefefe;
          position: absolute;
          transform: rotate(45deg);
          top: 0.22rem; }
        .header__top-icons-cart .openCart .removeFromCart:before,
        .header__top-icons-cart .openStar .removeFromCart:before {
          content: "";
          height: 1.6rem;
          border-left: 2px solid #fefefe;
          position: absolute;
          transform: rotate(-45deg);
          top: 0.22rem; }
        .header__top-icons-cart .openCart a.removeFromCart:hover,
        .header__top-icons-cart .openStar a.removeFromCart:hover {
          background-color: #7f1f2c;
          opacity: 1; }
        .header__top-icons-cart .openCart a,
        .header__top-icons-cart .openStar a {
          width: 25rem;
          display: flex;
          align-items: center;
          transition: all 0.2s;
          font-size: 1rem;
          background-color: #fefefe;
          padding: 0.4rem;
          border-bottom: 0.1rem solid #333333; }
          .header__top-icons-cart .openCart a img,
          .header__top-icons-cart .openStar a img {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.8rem; }
        .header__top-icons-cart .openCart li:last-of-type a,
        .header__top-icons-cart .openStar li:last-of-type a {
          background-color: #fec156;
          color: #7f1f2c;
          border: 0px solid black;
          border-radius: 0rem 0 1rem 1rem;
          display: flex;
          font-size: 1.2rem;
          justify-content: center;
          box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.25); }
        .header__top-icons-cart .openCart a:link,
        .header__top-icons-cart .openCart a:visited,
        .header__top-icons-cart .openStar a:link,
        .header__top-icons-cart .openStar a:visited {
          text-decoration: none;
          color: #333333; }
        .header__top-icons-cart .openCart a:hover,
        .header__top-icons-cart .openStar a:hover {
          background-color: #e4e4e4; }
      .header__top-icons-cart .openCart.arrow-top:after,
      .header__top-icons-cart .openStar.arrow-top:after {
        content: " ";
        position: absolute;
        right: 7rem;
        top: -1rem;
        border-top: none;
        border-right: 1.1rem solid transparent;
        border-left: 1.1rem solid transparent;
        border-bottom: 1.1rem solid #fec156; }
      .header__top-icons-cart .cartActive {
        opacity: 1 !important;
        pointer-events: all;
        transition: all 0.4s;
        z-index: 10000; }
      .header__top-icons-cart-price {
        padding: 0.4rem 0.8rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        align-content: center;
        align-items: center;
        background-color: #fec156;
        color: #7f1f2c; }
      .header__top-icons-cart .cartActive {
        opacity: 1 !important;
        pointer-events: all; }

.header .header__top-container.fixed {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 100000;
  animation: mymove 0.4s ease-in-out; }
  @media only screen and (max-width: 50em) {
    .header .header__top-container.fixed {
      display: none; } }

@keyframes mymove {
  from {
    top: -8rem; }
  to {
    top: 0rem; } }

.header__top.fixed {
  opacity: 1;
  top: 0;
  height: 8rem;
  z-index: 100; }
  @media only screen and (max-width: 50em) {
    .header__top.fixed {
      display: none; } }
  .header__top.fixed .hamburger {
    display: block; }
  .header__top.fixed .header__nav {
    transition: all 0.5s cubic-bezier(0.67, 0.3, 0.05, 1);
    opacity: 0;
    pointer-events: none; }
  .header__top.fixed .header__nav-nav-navbar {
    right: auto;
    left: -2.5rem;
    top: 4.8rem; }
  .header__top.fixed .logoImg {
    margin-top: 1.9rem;
    width: 26rem;
    transform: translateY(-0.8rem); }
  .header__top.fixed .cart svg,
  .header__top.fixed .user svg,
  .header__top.fixed .star svg {
    width: 3.4rem;
    height: 3.4rem; }
  .header__top.fixed .cart span {
    position: absolute;
    top: -0.6rem;
    left: 2.5rem;
    background-color: #fec156;
    color: #7f1f2c;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center; }
  .header__top.fixed .star span {
    position: absolute;
    top: -0.6rem;
    left: 2rem;
    background-color: #fec156;
    color: #7f1f2c;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem; }
  .header__top.fixed .closeProduct:after {
    left: 1.2rem; }
  .header__top.fixed .closeProduct:before {
    left: 1.2rem; }

.header__nav {
  background-color: #e4e4e4; }
  .header__nav-container {
    width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 24% 76%;
    align-content: center;
    align-items: center;
    height: 4rem; }
  .header__nav-nav {
    background-color: #eee;
    padding: 0.4rem 0rem;
    text-transform: uppercase;
    font-family: "Blinker", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: normal;
    box-shadow: 0px -0.3rem 0.5rem 0px rgba(51, 51, 51, 0.2); }
    .header__nav-nav-menu {
      margin-right: 1.2rem; }
      .header__nav-nav-menu div {
        margin-top: 0.2rem;
        width: 2.5rem;
        height: 0.2rem;
        background-color: #333333;
        margin-bottom: 0.5rem; }
    .header__nav-nav-products {
      position: absolute;
      top: 0rem;
      left: 28.8rem;
      background-color: #fefefe;
      width: 28rem;
      box-shadow: 0.8rem 0.4rem 2rem 0rem rgba(51, 51, 51, 0.2);
      display: none;
      text-transform: none; }
      @media only screen and (max-width: 34.5em) {
        .header__nav-nav-products {
          position: unset; } }
      @media only screen and (max-width: 34.5em) {
        .header__nav-nav-products {
          width: 95vw;
          margin: 0 auto; } }
      @media only screen and (max-width: 34.5em) {
        .header__nav-nav-products .hideWhenSmall {
          display: none; } }
      .header__nav-nav-products .showWhenSmall {
        display: none; }
        @media only screen and (max-width: 34.5em) {
          .header__nav-nav-products .showWhenSmall {
            display: block; } }
      .header__nav-nav-products p {
        position: absolute;
        bottom: 1rem;
        right: 2rem; }
        .header__nav-nav-products p a {
          font-size: 1.5rem; }
      .header__nav-nav-products .closeProduct {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-family: "Blinker", sans-serif;
        display: block;
        background-color: #7f1f2c;
        width: 2.5rem;
        height: 2.5rem;
        color: #fefefe;
        cursor: pointer;
        border-radius: 50%;
        text-align: center; }
        @media only screen and (max-width: 34.5em) {
          .header__nav-nav-products .closeProduct {
            display: none; } }
      .header__nav-nav-products .closeProduct:after {
        content: "";
        height: 2rem;
        border-left: 2px solid #fefefe;
        position: absolute;
        transform: rotate(45deg);
        top: 0.22rem; }
      .header__nav-nav-products .closeProduct:before {
        content: "";
        height: 2rem;
        border-left: 2px solid #fefefe;
        position: absolute;
        transform: rotate(-45deg);
        top: 0.22rem; }
      .header__nav-nav-products-container {
        background-color: #eee; }
      .header__nav-nav-products div {
        padding: 0.4rem 0.8rem; }
      .header__nav-nav-products h3 {
        font-weight: normal; }
      .header__nav-nav-products hr {
        width: 18rem;
        margin-bottom: 0.4rem;
        border: 0.1rem solid #e4e4e4; }
      .header__nav-nav-products a {
        transition: all 0.4s;
        font-size: 1.9rem; }
      .header__nav-nav-products li {
        width: 18rem;
        border-bottom: 0.2rem solid #e4e4e4;
        margin-bottom: 0.4rem; }
      .header__nav-nav-products li:last-of-type {
        margin-bottom: 4rem; }
        @media only screen and (max-width: 34.5em) {
          .header__nav-nav-products li:last-of-type {
            margin-bottom: 0.4rem; } }
      .header__nav-nav-products a:link,
      .header__nav-nav-products a:visited {
        text-decoration: none;
        color: #333333;
        font-family: "Blinker", sans-serif; }
      .header__nav-nav-products a:hover {
        color: #7f1f2c; }
    .header__nav-nav-products.openProducts {
      display: block; }
    .header__nav-nav-navbar {
      position: absolute;
      background-color: #e4e4e4;
      top: 3.9rem;
      right: -0.1rem;
      z-index: 1000; }
      .header__nav-nav-navbar .showMobileSvg {
        display: none; }
      @media only screen and (max-width: 34.5em) {
        .header__nav-nav-navbar .hideMobileSvg {
          display: none; }
        .header__nav-nav-navbar .showMobileSvg {
          display: block; } }
      .header__nav-nav-navbar ul {
        list-style-type: none;
        width: 28.8rem; }
        @media only screen and (max-width: 34.5em) {
          .header__nav-nav-navbar ul {
            width: 100vw; } }
      .header__nav-nav-navbar a.navlinks:link,
      .header__nav-nav-navbar a.navlinks:visited {
        text-decoration: none;
        color: #333333;
        font-size: 2rem; }
      .header__nav-nav-navbar a.navlinks {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 1.6rem;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        transition: all 0.2s; }
        .header__nav-nav-navbar a.navlinks svg {
          width: 2rem; }
      .header__nav-nav-navbar a.navlinks:hover {
        border-top: solid 1px rgba(51, 51, 51, 0.2);
        border-bottom: solid 1px rgba(51, 51, 51, 0.2);
        padding: 0.4rem 1.2rem;
        color: #7f1f2c;
        background-color: #eee; }
      .header__nav-nav-navbar a.navlinks.active {
        color: #e4e4e4;
        background-color: #7f1f2c; }
      .header__nav-nav-navbar a.navlinks.active svg {
        fill: #e4e4e4; }
    .header__nav-nav p {
      font-size: 2.3rem; }
  .header__nav svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
    fill: #7f1f2c; }
  .header__nav-links {
    display: flex;
    align-content: center; }
    .header__nav-links a:visited,
    .header__nav-links a:link {
      text-decoration: none;
      color: #333333;
      transition: all 0.2s; }
    .header__nav-links a:hover {
      color: #7f1f2c; }
  .header__nav-phone {
    font-size: 1.9rem;
    display: flex;
    margin-right: 5rem;
    align-items: center;
    margin-left: 2.4rem; }
  .header__nav-mail {
    display: flex;
    align-items: center;
    font-size: 1.9rem; }
  .header__nav-social {
    text-align: right;
    width: 100%;
    line-height: 1.5rem; }
    .header__nav-social svg {
      width: 2.8rem;
      height: 2.8rem; }

.header__slider {
  width: 100%;
  height: 100%;
  position: relative; }
  .header__slider svg {
    width: 5rem;
    height: 5rem; }
  .header__slider-left {
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translate(-50%, -50%);
    fill: #fefefe;
    cursor: pointer;
    z-index: 100; }
  .header__slider-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    fill: #fefefe;
    cursor: pointer;
    z-index: 100; }

.products {
  text-align: center; }
  .products h2 {
    font-family: "Blinker", sans-serif;
    font-size: 3rem;
    font-weight: normal; }
  .products__container {
    width: 120rem;
    margin: 0 auto;
    text-align: center; }

.info {
  background-color: #e4e4e4; }
  .info__container {
    width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem; }
  .info__item {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    text-align: center; }
    .info__item svg {
      width: 8rem;
      height: 8rem;
      transition: all 0.3s;
      margin-bottom: 0.6rem;
      fill: #7f1f2c;
      opacity: 0.9; }
    .info__item .lorry {
      height: 10rem;
      width: 10rem;
      margin-bottom: -1.6rem; }
    .info__item h3 {
      margin-bottom: 0.4rem;
      font-family: "Blinker", sans-serif;
      font-size: 2.4rem;
      text-transform: uppercase; }
    .info__item svg:hover {
      opacity: 1; }
    .info__item p {
      font-size: 1.7rem; }

.footer {
  width: 100%;
  background-color: #fec156;
  color: #7f1f2c;
  align-items: center;
  justify-content: center; }
  .footer__container {
    margin: 0 auto;
    width: 120rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2.4rem 0rem;
    justify-items: center; }
  .footer__social {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.2rem;
    column-gap: 0.8rem; }
    .footer__social svg {
      width: 6rem;
      height: 6rem;
      fill: #7f1f2c; }
    .footer__social p {
      font-size: 2rem;
      grid-column-start: 1;
      grid-column-end: 3;
      font-family: "Blinker", sans-serif; }
  .footer ul {
    list-style-type: none; }
    .footer ul a {
      font-size: 2rem;
      text-decoration: none;
      color: #7f1f2c;
      transition: all 0.3s;
      font-family: "Blinker", sans-serif; }
    .footer ul a:hover {
      border-bottom: 1px solid #7f1f2c; }
    .footer ul li {
      margin-bottom: 0.4rem; }
    .footer ul li:last-of-type {
      margin-bottom: 0rem; }

#return-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: rgba(127, 31, 44, 0.7);
  width: 5rem;
  height: 5rem;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
  z-index: 10; }

#return-to-top svg {
  fill: #fefefe;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 3rem;
  height: 3rem; }

#return-to-top:hover {
  background: rgba(127, 31, 44, 0.9); }

#return-to-top:hover svg {
  color: #fff;
  top: 30%; }

.modal2 {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none !important;
  opacity: 1; }

body.openModal2 {
  overflow-y: hidden;
  pointer-events: none !important; }

body.openModal2 .header__nav {
  pointer-events: none !important; }

.modal2Inner {
  border-radius: 4px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
  max-width: 50rem;
  padding: 1.2rem;
  display: grid;
  color: black;
  z-index: 1999;
  position: absolute;
  bottom: 0;
  user-select: none;
  background-color: #fefefe;
  pointer-events: all; }
  .modal2Inner h3 {
    font-family: "Blinker", sans-serif; }
  .modal2Inner p {
    margin-bottom: 0.8rem; }
  .modal2Inner a {
    text-decoration: none;
    margin-right: 1.6rem;
    color: #7f1f2c; }
  .modal2Inner a:first-of-type {
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #7f1f2c; }
  .modal2Inner a.button {
    padding: 0.4rem 1.2rem;
    background-color: #7f1f2c;
    color: #fefefe;
    border-radius: 0.4rem;
    text-transform: uppercase;
    font-size: 1.5rem; }

.copyright {
  background-color: #e4e4e4;
  text-align: center; }

.breadcrumbs {
  background-color: #fefefe; }
  .breadcrumbs__container {
    padding-top: 1.2rem;
    width: 120rem;
    margin: 0 auto; }
    .breadcrumbs__container h1 {
      margin-top: 0.8rem;
      font-weight: normal;
      font-size: 3.2rem;
      padding-bottom: 0rem;
      font-family: "Blinker", sans-serif; }
    .breadcrumbs__container ul {
      list-style-type: none;
      display: flex; }
    .breadcrumbs__container li {
      margin-right: 0.4rem; }
      .breadcrumbs__container li a:link,
      .breadcrumbs__container li a:visited {
        text-decoration: none;
        color: #333333;
        transition: all 0.2s; }
      .breadcrumbs__container li a:hover {
        color: #7f1f2c; }
    .breadcrumbs__container a:after {
      content: "/"; }

.categoryProducts__container {
  padding-top: 2rem;
  width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 22% 75%;
  column-gap: 3%; }

.categoryProducts__filters fieldset {
  padding: 0.8rem;
  border: 0.2rem solid #7f1f2c;
  border-radius: 0.8rem;
  margin-bottom: 2rem; }

.categoryProducts__filters legend {
  padding-left: 1rem;
  padding-right: 1rem; }

.categoryProducts__filters input {
  margin-right: 0.4rem; }

.categoryProducts__products {
  transform: translateY(-4rem); }
  .categoryProducts__products-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
    margin-right: 2rem; }
    .categoryProducts__products-top p {
      font-size: 1.5rem; }
  .categoryProducts__products-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 1.8rem;
    justify-items: center; }
    .categoryProducts__products-grid .product {
      margin: 0;
      text-align: center;
      width: 27rem; }
      .categoryProducts__products-grid .product img {
        width: 25rem;
        height: auto; }
  .categoryProducts__products-bottom {
    text-align: center;
    margin-top: 0.8rem; }
    .categoryProducts__products-bottom button {
      width: 10rem;
      padding: 0.8rem;
      background-color: #7f1f2c;
      border-radius: 0.5rem;
      outline: none;
      margin-top: 0.8rem;
      border: none;
      cursor: pointer;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.1);
      color: #fefefe;
      margin-bottom: 0.4rem; }

.register__container {
  width: 120rem;
  margin: 0 auto; }
  .register__container h1 {
    text-align: center;
    font-family: "Blinker", sans-serif;
    font-weight: normal;
    padding-top: 2.4rem;
    margin-bottom: 1.6rem; }

.form {
  width: 80rem;
  margin: 0rem auto 3.2rem auto; }
  .form a {
    text-decoration: none;
    color: #7f1f2c;
    transition: all 0.2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden; }
  .form-span {
    text-align: center;
    display: block;
    margin-bottom: 0.4rem; }
  .form-error {
    border: 0.1rem solid #e4e4e4;
    padding: 0.4rem 1.2rem;
    color: #f44336;
    margin-bottom: 0.8rem; }
    .form-error ul {
      list-style-type: none; }
  .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .form-radio {
    margin: 0rem auto 1.6rem auto;
    text-align: center; }
    .form-radio label {
      margin-right: 0.1rem; }
    .form-radio input:first-of-type {
      margin-right: 1.2rem; }
  .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem; }
    .form-check label {
      margin-left: 0.4rem;
      cursor: pointer; }
  .form-item {
    margin-bottom: 2.4rem;
    display: grid; }
    .form-item textarea {
      border: 0.1rem solid #7f1f2c;
      box-shadow: 0 0 1.5rem 0.4rem rgba(127, 31, 44, 0.06);
      width: 50rem;
      padding: 1.2rem 1.6rem;
      background-color: #eee; }
    .form-item input {
      border: 0.1rem solid #7f1f2c;
      border-radius: 0.5rem;
      box-shadow: 0 0 1.5rem 0.4rem rgba(127, 31, 44, 0.06);
      padding: 1.2rem 1.6rem;
      width: 35rem;
      background-color: #eee; }
    .form-item label {
      margin-bottom: 0.4rem; }
    .form-item input:focus,
    .form-item textarea:focus {
      outline: none;
      border: 0.1rem solid #fec156; }
  .form button {
    width: 12rem;
    padding: 1rem 2.4rem;
    background-color: #7f1f2c;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.4rem 0.7rem rgba(51, 51, 51, 0.3);
    color: #fefefe;
    transition: all 0.2s; }
  .form p {
    margin-bottom: 1.2rem; }
    .form p span {
      color: #7f1f2c;
      font-size: 1.8rem; }

.cartArea__buttons {
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: space-between; }
  .cartArea__buttons-hide {
    opacity: 0;
    pointer-events: none; }
  .cartArea__buttons a {
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    background-color: #7f1f2c;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.4rem 0.7rem rgba(51, 51, 51, 0.3);
    color: #fefefe;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center; }

.cartArea__container {
  width: 120rem;
  margin: 0 auto; }

.cartArea__container.cart3 {
  width: 80rem; }
  .cartArea__container.cart3 p {
    margin-bottom: 0.8rem; }
  .cartArea__container.cart3 p:last-of-type {
    margin-bottom: 3.2rem; }

.productsTable {
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  margin-bottom: 2rem; }
  .productsTable-heading {
    background-color: #7f1f2c;
    border: none; }
  .productsTable-tr {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }
  .productsTable th {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #fefefe;
    font-weight: normal;
    padding: 1rem 2rem; }
  .productsTable td:last-of-type {
    position: relative; }
  .productsTable td {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 1rem 2rem;
    text-align: center; }
    .productsTable td img {
      width: 5rem;
      height: 5rem; }
    .productsTable td a {
      text-decoration: none;
      color: #7f1f2c; }
    .productsTable td .removeFromCart {
      position: absolute;
      top: 2.5rem;
      right: 3.2rem;
      font-family: "Blinker", sans-serif;
      display: block;
      background-color: #7f1f2c;
      width: 2.2rem;
      height: 2.2rem;
      color: #fefefe;
      cursor: pointer;
      border-radius: 50%;
      text-align: center;
      opacity: 0.8;
      transition: all 0.3s; }
    .productsTable td .removeFromCart:after {
      content: "";
      height: 1.6rem;
      border-left: 2px solid #fefefe;
      position: absolute;
      transform: rotate(45deg);
      top: 0.25rem;
      right: 1rem; }
    .productsTable td .removeFromCart:before {
      content: "";
      height: 1.6rem;
      border-left: 2px solid #fefefe;
      position: absolute;
      transform: rotate(-45deg);
      top: 0.25rem;
      right: 1rem; }
    .productsTable td a.removeFromCart:hover {
      background-color: #7f1f2c;
      opacity: 1; }
  .productsTable tr.price td {
    border-top: 1px solid #e4e4e4; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.number-input {
  border: 1px solid #e4e4e4;
  display: inline-flex; }

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative; }

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #7f1f2c;
  transform: translate(-50%, -50%); }

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg); }

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 3.2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 2rem;
  text-align: center;
  outline: #7f1f2c;
  border: 0px solid #7f1f2c; }

.number-input input[type="number"]:focus {
  border: 1px solid #7f1f2c; }

.singleProduct .number-input button {
  width: 4rem;
  height: 4rem; }

.singleProduct .number-input input[type="number"] {
  max-width: 5rem;
  height: 4rem;
  font-size: 1.8rem; }

.user__container {
  margin: 3.2rem auto;
  width: 120rem;
  display: grid;
  grid-template-columns: 25% 73%;
  column-gap: 2%; }
  .user__container h3 {
    font-weight: normal;
    margin-bottom: 1.2rem;
    font-size: 2rem;
    text-align: center; }

.user__left-info {
  border: 1px solid #7f1f2c;
  border-radius: 0.4rem;
  padding: 1.2rem;
  background-color: #eee; }
  .user__left-info ul {
    list-style-type: none; }
  .user__left-info li {
    margin-bottom: 0.8rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #7f1f2c; }
  .user__left-info button {
    padding: 0.6rem 1.6rem;
    background-color: #7f1f2c;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.4rem 0.7rem rgba(51, 51, 51, 0.3);
    color: #fefefe;
    transition: all 0.2s; }

.user__right table {
  width: 100%; }

.singleProduct .header__slider-left {
  left: 8rem;
  z-index: 1000; }

.singleProduct .header__slider-right {
  right: 2rem;
  z-index: 1000; }

.singleProduct__container {
  width: 120rem;
  height: 60rem;
  margin: 2.4rem auto 3.2rem auto;
  display: grid;
  grid-template-columns: 55% 45%;
  box-shadow: 0rem 0.3rem 0.7rem rgba(51, 51, 51, 0.16); }

.singleProduct__left {
  border: 1px solid #e4e4e4;
  background-color: #fefefe;
  border-right: 0;
  background-color: #e4e4e4;
  height: 60rem; }
  .singleProduct__left .slides {
    width: 100%;
    height: 100%; }
  .singleProduct__left .slide img {
    transition: none !important; }
  .singleProduct__left .zoom {
    position: relative;
    overflow: hidden; }
  .singleProduct__left svg {
    fill: #7f1f2c; }

.singleProduct__right {
  border: 1px solid #e4e4e4;
  border-left: 0;
  padding: 2.4rem;
  padding-top: 0rem;
  background-color: #eee; }
  .singleProduct__right .discount {
    width: 8rem;
    height: 3rem; }
    .singleProduct__right .discount span {
      font-size: 2rem;
      color: #7f1f2c; }
  .singleProduct__right .discount:after {
    border-top: 2.5rem solid #fec156;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    content: "";
    height: 0;
    right: 0;
    position: absolute;
    top: 3rem;
    width: 5rem;
    z-index: 100; }
  .singleProduct__right .pointer {
    width: 20rem;
    height: 3rem;
    top: 0.8rem;
    text-align: left;
    line-height: 2.8rem; }
    .singleProduct__right .pointer span {
      font-size: 1.7rem; }
  .singleProduct__right .pointer:before {
    content: "";
    position: absolute;
    right: -1.5rem;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 1.5rem solid #7f1f2c;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent; }

.singleProduct__photo {
  width: 100%;
  height: 100%; }

.singleProduct h1 {
  font-weight: normal;
  font-family: "Blinker", sans-serif;
  font-size: 3.2rem;
  line-height: 2.8rem;
  color: #333333;
  margin: 0rem auto;
  display: block;
  border-spacing: 0rem;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem; }

.singleProduct-price {
  font-family: "Blinker", sans-serif;
  font-size: 2.4rem; }
  .singleProduct-price span:first-of-type {
    color: #7f1f2c; }
  .singleProduct-price span:last-of-type {
    font-size: 2rem;
    position: relative; }
  .singleProduct-price span:last-of-type::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #7f1f2c;
    position: absolute;
    bottom: 1.2rem;
    left: 0; }

.singleProduct-code {
  margin-top: 0.4rem;
  margin-left: 0.2rem; }

.singleProduct__delivery {
  margin-bottom: 1.2rem; }
  .singleProduct__delivery p {
    font-size: 2rem;
    text-transform: uppercase;
    color: #7f1f2c; }

.singleProduct__description {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 2.4rem; }
  .singleProduct__description-right, .singleProduct__description-left {
    padding: 0.8rem 0;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0rem;
    user-select: none; }
  .singleProduct__description-right {
    border: 1px solid #7f1f2c;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    color: #7f1f2c;
    transition: all 0.2s; }
  .singleProduct__description-left {
    color: #7f1f2c;
    border-radius: 0.4rem 0rem 0 0.4rem;
    border: 1px solid #7f1f2c;
    transition: all 0.2s; }
  .singleProduct__description .descriptionActive {
    color: #fefefe;
    background-color: #7f1f2c;
    cursor: default; }
  .singleProduct__description-right:hover, .singleProduct__description-left:hover {
    color: #fefefe;
    background-color: #7f1f2c; }
  .singleProduct__description-info {
    padding: 0.8rem 0.8rem;
    grid-column-start: 1;
    grid-column-end: 3;
    pointer-events: none;
    transition: all 0.5s;
    border-bottom: 1px solid #7f1f2c;
    border-right: 1px solid #7f1f2c;
    border-left: 1px solid #7f1f2c; }
    .singleProduct__description-info-item {
      display: none; }
    .singleProduct__description-info .descriptionInfoActive {
      display: block;
      overflow-y: auto;
      pointer-events: all;
      height: 14rem; }

.singleProduct__amount {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }
  .singleProduct__amount p {
    margin-right: 1.2rem; }
  .singleProduct__amount .favorite {
    margin-left: 2.4rem;
    display: flex;
    align-items: center; }
    .singleProduct__amount .favorite svg {
      transform: translateY(-0.2rem);
      cursor: pointer;
      width: 3.5rem;
      height: 3.5rem;
      fill: #eee;
      stroke: #7f1f2c;
      stroke-width: 0.3rem;
      transition: all 0.2s; }
    .singleProduct__amount .favorite svg:hover {
      fill: #7f1f2c;
      stroke-width: 0; }
    .singleProduct__amount .favorite svg.activeSvg {
      fill: #7f1f2c;
      stroke-width: 0; }
  .singleProduct__amount-button svg {
    width: 2.6rem;
    height: 2.6rem;
    fill: #7c1424;
    transform: translate(0rem, 0.4rem); }
  .singleProduct__amount-button a.button:link,
  .singleProduct__amount-button a.button:visited {
    width: 30rem;
    outline: none;
    padding: 0.6rem 0em;
    border-radius: 0.5rem;
    border: none;
    background-color: #fac053;
    color: #7c1424;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 2.2rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.03);
    transition: all 0.3s; }
    .singleProduct__amount-button a.button:link span,
    .singleProduct__amount-button a.button:visited span {
      padding-left: 0.6rem;
      vertical-align: 0.1rem; }
    .singleProduct__amount-button a.button:link span::before,
    .singleProduct__amount-button a.button:visited span::before {
      content: "";
      margin-right: 0.6rem;
      height: 3px;
      border-right: 1px solid #7c1424; }
  .singleProduct__amount-button a.button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.1); }

.singleProduct__links {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  justify-content: center; }
  .singleProduct__links a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #7f1f2c; }
  .singleProduct__links p:first-of-type {
    margin-right: 2.4rem; }

/* magnifying glass icon */
.zoom {
  display: inline-block;
  position: relative; }

.zoom img {
  display: block;
  z-index: 100000; }

.zoom img::selection {
  background-color: transparent; }

.slideThumbs {
  position: absolute;
  top: 0;
  left: -6.5rem;
  z-index: 1000;
  cursor: pointer; }
  .slideThumbs img {
    width: 6rem;
    height: 6rem;
    border: 1px solid #e4e4e4;
    border-radius: 4rem; }

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s; }

.modalInner {
  border-radius: 4px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
  max-width: 120rem;
  display: grid;
  color: black;
  z-index: 1999;
  position: relative;
  user-select: none; }
  .modalInner img {
    transform: translateY(-5rem);
    height: 75rem; }
  .modalInner-left, .modalInner-right {
    position: absolute;
    top: 25rem;
    z-index: 2000; }
    .modalInner-left svg, .modalInner-right svg {
      fill: #7f1f2c;
      width: 10rem;
      height: 10rem;
      cursor: pointer; }
  .modalInner-left {
    left: 0; }
  .modalInner-right {
    right: 0; }

.openModal {
  opacity: 1;
  pointer-events: all; }

body.openModal {
  overflow-y: hidden; }
