$font-heading: "Mukta", sans-serif;
$font-text: "Open Sans", sans-serif;
$default-font-size: 1.6rem;

// $color-grey-light-1: #e4e4e4;
$color-grey-light-1: #e4e4e4;
$color-grey-light-2: #eee;

// $color-grey-dark:#777;
//$color-grey-dark-2:#999;
//$color-grey-dark-3:#333;
$color-alarm: #f44336;

$color-white: #fefefe;
$color-black: #333333;

$color-primary: #5b8c5a;
$color-secondary: #839898;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-pesada-primary: #fac053;
$color-pesada-secondary: #7c1424;

// $color-pesada-primary: #7c1424;
// $color-pesada-secondary: #fac053;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-tertiary-light: #fec156;
$color-tertiary-dark: #7f1f2c;

$color-tertiary-light: #7f1f2c;
$color-tertiary-dark: #fec156;

$bp-largest: 77em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medlarge: 56.25em; // 900px
$bp-medium: 50em; // 800px;
$bp-medium-2: 47em; // 752px;
$bp-small: 37.5em; // 600px;
$bp-small-1: 34.5em; // 552px;
$bp-small-2: 28em; // 448px;
$bp-small-3: 24em; // 368px;
