@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "components/slider";
@import "components/product";
@import "components/hamburger";
@import "components/checkbox";
@import "components/select";
@import "components/cartBreadcrumbs";
// @import "layout/_header";

@import "pages/home";
@import "pages/categories";
@import "pages/register";
@import "pages/cart";
@import "pages/user";
