.hamburger {
  display: none;
  position: absolute;
  top: 2rem;
  left: 2.5rem;

  z-index: 9999;
}

.hamburger input {
  display: block;
  width: 3rem;
  height: 3.2rem;
  position: absolute;
  top: -0.7rem;
  left: -0.4rem;

  cursor: pointer;

  opacity: 0;
  z-index: 33;

  -webkit-touch-callout: none;
}

.hamburger span {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin-bottom: 0.5rem;
  position: relative;

  background: $color-tertiary-dark;
  border-radius: 0.3rem;

  z-index: 1;

  transform-origin: 0.4rem 0px;

  transition: transform 0.5s cubic-bezier(0.67, 0.3, 0.05, 1);
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(1) {
  transform-origin: 0% 100%;
}

.hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0.2rem, 0.1rem);
  background: $color-tertiary-dark;
}

.hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0rem, -0.2rem);
}

/*
   * And let's fade it in from the left
   */
.hamburger input:checked ~ .header__nav {
  transform: none;
  opacity: 1;
  pointer-events: all;
}
