.slides {
  width: 100%;
  // min-height: 50rem;
  // border: 2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.slidesHeight {
  height: 45rem;
}
.hideWhileNotDone {
  display: none;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1.2s;
  opacity: 0;
  pointer-events: none;
}

.backgroundimage {
  width: 100%;
  // min-height: 50rem;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.slide img {
  //   transform: translateX(-1000%);
  transition: all 0.4s;
}
.slide.current img {
  transition: all 0.4s;
  transform: translateX(0%);
}

.slide.prev {
  z-index: 10;
  /* transform: translateX(-100%); */
  opacity: 0;
}

.slide.current {
  z-index: 10;
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.slide.next {
  z-index: 10;
  /* transform: translateX(100%); */
  opacity: 0;
}
.meda,
.nesto,
.grejna,
.radijator,
.naslov,
.grupna {
  position: absolute;
}
.meda {
  bottom: 0;
  right: 30%;
  width: 20rem;
  height: auto;
}
.current .meda {
  animation: moveInBottom 1s;
}
.radijator {
  bottom: 0;
  right: 20%;
  width: 20rem;
  height: auto;
}
.current .radijator {
  animation: moveInRight 1s;
}
.nesto {
  bottom: 0;
  right: 43%;
  width: 15rem;
  height: auto;
}

.current .nesto {
  animation: moveInLeft 1s;
}
.grejna {
  top: 10%;
  right: 40%;
  width: 40rem;
  height: auto;
}
.current .grejna {
  animation: scaleUp 1s;
}
.naslov {
  top: 10%;
  right: 40%;
  width: 40rem;
  //   animation: animationFrames ease 1s;
  //   animation-iteration-count: 1;
  //   transform-origin: 50% 50%;
  animation: moveInLeftReverse 0.8s;
}
.current .naslov {
  animation: moveInLeft 1s;
}
.grupna {
  bottom: 0;
  right: 10%;
  width: 50rem;
  height: auto;
  animation: scaleUpReverse 0.8s;
}
.current .grupna {
  animation: scaleUp 1s;
}
