*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  // overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1 rem is 10px
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
}

// ::selection{
//     background-color: $color-primary;
//     color: $color-white;
// }

// *,
//   *:before,
//   *:after {
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
//     margin:0;
//     padding: 0;
//   }
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
