.cartArea {
  &__buttons {
    margin-bottom: 3.2rem;
    &-hide {
      // opacity: 0;
      // pointer-events: none;
      display: none !important;
    }
    a {
      text-decoration: none;
      // width: 17rem;
      padding: 0.8rem 1.2rem;
      background-color: $color-tertiary-light;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      cursor: pointer;
      box-shadow: 0.2rem 0.4rem 0.7rem rgba($color-black, 0.3);
      color: $color-white;
      transition: all 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-large) {
      justify-content: center;
      margin-right: 1.2rem;
    }
  }
  &__container {
    max-width: 120rem;
    margin: 0 auto;
    @media only screen and (max-width: $bp-large) {
      padding: 0 1.2rem;
    }
    @media only screen and (max-width: $bp-small-1) {
      padding: 0rem;
    }
  }
  &__container.cart3 {
    max-width: 80rem;
    @media only screen and (max-width: $bp-large) {
      padding: 0 1.2rem;
    }

    p {
      margin-bottom: 0.8rem;
    }
    p:last-of-type {
      margin-bottom: 3.2rem;
    }
  }
}

.productsTable {
  width: 120rem;
  @media only screen and (max-width: $bp-largest) {
    max-width: 120rem;
    width: unset;
    // padding: 1.2rem;
  }
  @media only screen and (max-width: $bp-large) {
    .tableHideRB,
    .hideHeading {
      display: none;
    }
    .tableResponsive {
      display: grid;
      grid-template-columns: 30% 70%;
      justify-content: center;
      align-items: center;
      width: 80rem;
      max-width: unset;
    }
    .tableImg {
      grid-row-start: 1;
      grid-row-end: 7;
      // align-self: center;
      img {
        width: 20rem;
        height: 20rem;
      }
    }
  }
  @media only screen and (max-width: $bp-medium) {
    .tableResponsive {
      width: 50rem;
      grid-template-columns: 1fr;
      border-bottom: 1px solid $color-grey-light-1;
      margin-bottom: 1.2rem;
    }
    .tableImg {
      // align-self: center;
      img {
        width: 20rem;
        height: 20rem;
      }
    }
  }
  @media only screen and (max-width: $bp-small-1) {
    .tableResponsive {
      width: 40rem;
      grid-template-columns: 1fr;
    }
  }
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  margin-bottom: 2rem;

  &-heading {
    background-color: $color-tertiary-light;
    border: none;
  }
  &-tr {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid red;
    // border-left: 1px solid red/;
  }
  th {
    // background-color: $color-tertiary-light;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    // padding: 0.4rem 0.4rem;
    color: $color-white;
    font-weight: normal;
    padding: 1rem 2rem;
  }

  td:last-of-type {
    position: relative;
    // height: 100%;
    // width: 100%;
  }
  td {
    background-color: #ffffff;
    // box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    // margin-bottom: 1.2rem;
    // padding-top: 1.2rem;
    // border-bottom: 1px solid red;
    border-radius: 3px;
    padding: 1rem 2rem;
    text-align: center;
    @media only screen and (max-width: $bp-small-1) {
      padding: 1rem 1rem;
    }
    img {
      width: 5rem;
      height: 5rem;
    }
    a {
      text-decoration: none;
      color: $color-tertiary-light;
    }

    .removeFromCart {
      position: absolute;
      top: 2.5rem;
      right: 3.2rem;
      font-family: $font-heading;
      display: block;
      background-color: $color-tertiary-light;
      width: 2.2rem;
      height: 2.2rem;
      color: $color-white;
      cursor: pointer;
      border-radius: 50%;
      text-align: center;
      opacity: 0.8;
      transition: all 0.3s;
      // vertical-align: 5rem;
      @media only screen and (max-width: $bp-large) {
        top: -1rem;
        right: 0.4rem;
        width: 2.6rem;
        height: 2.6rem;
      }
    }
    .removeFromCart:after {
      content: "";
      height: 1.6rem;
      border-left: 2px solid $color-white;
      position: absolute;
      transform: rotate(45deg);
      top: 0.25rem;
      right: 1rem;
      // left: 1.1rem;
      // left: 28px;
      @media only screen and (max-width: $bp-large) {
        height: 2rem;
        right: 1.1rem;
      }
      @media only screen and (max-width: $bp-small-1) {
        right: 1.2rem;
      }
    }

    .removeFromCart:before {
      content: "";
      height: 1.6rem;
      //   width: 1.6rem;
      border-left: 2px solid $color-white;
      position: absolute;
      transform: rotate(-45deg);
      // left: 28px;
      top: 0.25rem;
      right: 1rem;
      // left: 1.1rem;
      @media only screen and (max-width: $bp-large) {
        height: 2rem;
        right: 1.1rem;
      }
      @media only screen and (max-width: $bp-small-1) {
        right: 1.2rem;
      }
    }
    a.removeFromCart:hover {
      background-color: $color-tertiary-light;
      opacity: 1;
    }
  }
  tr.price {
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    // border-top: 1px solid red;
  }
  tr.price td {
    border-top: 1px solid $color-grey-light-1;
    // text-align: right;
    // background-color: $color-grey-light-1;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 1px solid $color-grey-light-1;
  display: inline-flex;
}

// .number-input,
// .number-input * {
//   box-sizing: border-box;
// }

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;

  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: $color-tertiary-light;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 3.2rem;
  padding: 0.5rem;
  //   background-color: $color-grey-light-1;
  // border: none;
  font-size: 1.5rem;
  height: 2rem;
  text-align: center;
  outline: $color-tertiary-light;
  border: 0px solid $color-tertiary-light;
}
.number-input input[type="number"]:focus {
  border: 1px solid $color-tertiary-light;
}

.singleProduct {
  .number-input button {
    width: 4rem;
    height: 4rem;
    // background-color: $color-tertiary-dark;
  }
  .number-input input[type="number"] {
    max-width: 5rem;
    height: 4rem;
    font-size: 1.8rem;
  }
}
