.breadcrumbs {
  background-color: $color-white;
  &__container {
    padding-top: 1.2rem;
    max-width: 120rem;
    margin: 0 auto;

    h1 {
      margin-top: 0.8rem;
      font-weight: normal;
      font-size: 3.2rem;
      padding-bottom: 0rem;
      font-family: $font-heading;
      //   text-align: center;
    }

    ul {
      list-style-type: none;
      display: flex;
      @media only screen and (max-width: $bp-large) {
        margin-left: 1.2rem;
      }
      @media only screen and (max-width: $bp-small) {
        font-size: 1.4rem;
      }
    }

    li {
      margin-right: 0.4rem;

      a:link,
      a:visited {
        text-decoration: none;
        color: $color-black;
        transition: all 0.2s;
      }
      a:hover {
        // text-decoration: underline;
        color: $color-tertiary-light;
      }
    }

    a:after {
      content: "/";
      //   left: 1.2rem/;
    }
  }
}

.filterStuff {
  @media only screen and (max-width: $bp-largest) {
    text-align: center;
  }
}

.categoryProducts {
  &__container {
    padding-top: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 22% 75%;
    column-gap: 3%;
    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: 1fr;
      row-gap: 2.4rem;
      padding: 1.2rem;
    }
  }
  &__filters {
    @media only screen and (max-width: $bp-largest) {
      width: 50rem;
      margin: 0rem auto 4rem auto;
      justify-self: center;
    }
    @media only screen and (max-width: $bp-small-1) {
      width: 36rem;
    }
    // background-color: blue;
    fieldset {
      // background-color: #ccc;
      //   max-width: 500px;
      //   position: relative;
      //   height: 20rem;
      //   width: 20rem;
      padding: 0.8rem;
      border: 0.2rem solid $color-tertiary-light;
      border-radius: 0.8rem;
      margin-bottom: 2rem;
    }
    legend {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    input {
      margin-right: 0.4rem;
    }
  }
  &__products {
    transform: translateY(-4rem);
    &-top {
      display: flex;
      justify-content: space-between;

      align-items: center;
      //   align-content: center;
      margin-bottom: 1.2rem;
      margin-right: 2rem;
      p {
        font-size: 1.5rem;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      @media only screen and (max-width: $bp-medlarge) {
        grid-template-columns: repeat(2, 50%);
      }
      @media only screen and (max-width: $bp-small-1) {
        grid-template-columns: 1fr;
      }
      row-gap: 1.8rem;
      //   align-content: center;
      justify-items: center;
      //   align
      //   column-gap: 3rem;
      .product {
        margin: 0;
        text-align: center;
        width: 27rem;
        img {
          width: 25rem;
          height: auto;
        }
      }
    }
    &-bottom {
      text-align: center;
      margin-top: 0.8rem;
      button {
        width: 10rem;
        padding: 0.8rem;
        background-color: $color-tertiary-light;
        border-radius: 0.5rem;
        outline: none;
        margin-top: 0.8rem;
        border: none;
        cursor: pointer;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.134),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.1);
        color: $color-white;
        margin-bottom: 0.4rem;
      }
    }
  }
}

input[name="tab-1"] {
  display: none;
}

.checkFilter {
  display: none;
  padding: 1rem;
  background-color: $color-grey-light-2;

  border-bottom: 1px solid rgba($color-grey-light-2, 0.15);

  font-size: 2rem;

  color: $color-tertiary-light;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 0.8rem;

  // &:after {
  //   content: "+";
  //   position: absolute;
  //   right: 1em;
  //   width: 1em;
  //   height: 1em;
  //   color: $color-grey-light-1;
  //   text-align: center;
  //   border-radius: 50%;
  //   background: $color-black;
  //   box-shadow: inset 0 1px 6px rgba(#000, 0.5), 0 1px 0 #fff;
  //   text-shadow: 0 1px 0 rgba(#000, 0.75);
  // }

  // &:hover {
  //   color: $color-black;
  // }
}

// input:checked + label {
//   color: $color-black;

//   &:after {
//     content: "-";
//     /* adjsut line-height to vertically center icon */
//     line-height: 0.8em;
//   }
// }
@media only screen and (max-width: $bp-largest) {
  .filterResponsive {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    fieldset {
      opacity: 0;
      height: 0;
      margin-bottom: -3rem;
    }
  }
  .checkFilter {
    display: block;
  }
}
// .filterResponsive {
//   opacity: 0;
//   pointer-events: none;
//   transition: all 0.3s;
//   fieldset {
//     opacity: 0;
//     height: 0;
//     margin-bottom: -3rem;
//   }
// }
input[name="tab-1"]:checked ~ .filterResponsive {
  opacity: 1;
  pointer-events: all;
  fieldset {
    opacity: 1;
    height: initial;
    margin-bottom: 2.4rem;
  }
}

// input[name="tab-1"]:checked ~ .filterResponsive {
//   height: 200px;
// }

// input[name="tab1"]:checked ~ .accordion__content.accordion__content--large {
//   height: 300px;
// }
