.register {
  &__container {
    width: 120rem;
    margin: 0 auto;

    h1 {
      text-align: center;
      font-family: $font-heading;
      font-weight: normal;
      padding-top: 2.4rem;
      margin-bottom: 1.6rem;
    }
  }
}
.form {
  width: 80rem;
  margin: 0rem auto 3.2rem auto;
  &-error {
    border: 0.1rem solid $color-grey-light-1;
    // background-color: $color-grey-light-2;
    // background-color: red;
    // text-align: center;
    padding: 0.4rem 1.2rem;
    // color: $color-white;
    margin-bottom: 0.8rem;
    // color: $color-tertiary-light;
    ul {
      list-style-type: none;
    }
  }
  &-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-radio {
    label {
      margin-right: 0.1rem;
    }
    input:first-of-type {
      margin-right: 1.2rem;
    }
    margin: 0rem auto 1.6rem auto;
    text-align: center;
  }
  &-item {
    margin-bottom: 2.4rem;
    display: grid;
    input {
      border: 0.1rem solid $color-tertiary-light;
      border-radius: 0.5rem;
      box-shadow: 0 0 1.5rem 0.4rem rgba($color-tertiary-light, 0.06);
      padding: 1.2rem 1.6rem;
      width: 35rem;
      background-color: $color-grey-light-2;

      //   outline: none;
    }
    label {
      //   margin-right: 0.4rem;
      margin-bottom: 0.4rem;
    }
    input:focus {
      outline: none;
      border: 0.1rem solid $color-tertiary-light;
    }
  }

  button {
    width: 12rem;
    padding: 1rem 2.4rem;
    background-color: $color-tertiary-light;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.4rem 0.7rem rgba($color-black, 0.3);
    color: $color-white;
    transition: all 0.2s;
  }
  button:hover {
  }
}
