.register {
  &__container {
    max-width: 120rem;
    margin: 0 auto;
    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }

    h1 {
      text-align: center;
      font-family: $font-heading;
      font-weight: normal;
      padding-top: 2.4rem;
      margin-bottom: 1.6rem;
    }
  }
}
.form {
  width: 80rem;
  @media only screen and (max-width: $bp-medium) {
    width: 60rem;
  }
  @media only screen and (max-width: $bp-small) {
    width: 36rem;
  }
  margin: 0rem auto 3.2rem auto;

  a {
    text-decoration: none;
    color: $color-tertiary-light;
    transition: all 0.2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  }

  &-span {
    text-align: center;
    display: block;
    margin-bottom: 0.4rem;
  }
  &-error {
    border: 0.1rem solid $color-grey-light-1;
    // background-color: $color-grey-light-2;
    // background-color: red;
    // text-align: center;
    padding: 0.4rem 1.2rem;
    color: $color-alarm;
    margin-bottom: 0.8rem;
    // color: $color-tertiary-light;
    ul {
      list-style-type: none;
    }
  }

  &-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  &-radio {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    label {
      margin-right: 0.1rem;
    }
    input:first-of-type {
      margin-right: 1.2rem;
    }
    margin: 0rem auto 1.6rem auto;
    text-align: center;
  }

  &-check {
    display: flex;
    align-items: center;
    label {
      margin-left: 0.4rem;
      cursor: pointer;
    }
    a:hover {
      // transform: scale(1.02);

      // color: $color-tertiary-dark;
      // opacity: 0.6;
    }
    .slazem {
      // cursor: pointer;
    }
    margin-bottom: 1.2rem;
  }
  &-item {
    margin-bottom: 2.4rem;
    display: grid;
    textarea {
      border: 0.1rem solid $color-tertiary-light;
      box-shadow: 0 0 1.5rem 0.4rem rgba($color-tertiary-light, 0.06);
      width: 75rem;
      padding: 1.2rem 1.6rem;
      background-color: $color-grey-light-2;
      @media only screen and (max-width: $bp-largest) {
        width: 50rem;
      }
      @media only screen and (max-width: $bp-small) {
        width: 35rem;
      }
    }
    input {
      border: 0.1rem solid $color-tertiary-light;
      border-radius: 0.5rem;
      box-shadow: 0 0 1.5rem 0.4rem rgba($color-tertiary-light, 0.06);
      padding: 1.2rem 1.6rem;
      width: 35rem;
      @media only screen and (max-width: $bp-medium) {
        width: 27rem;
      }
      @media only screen and (max-width: $bp-small-1) {
        width: 35rem;
      }
      background-color: $color-grey-light-2;

      //   outline: none;
    }
    label {
      //   margin-right: 0.4rem;
      margin-bottom: 0.4rem;
    }
    input:focus,
    textarea:focus {
      outline: none;
      border: 0.1rem solid $color-tertiary-dark;
    }
  }

  button {
    width: 12rem;
    padding: 1rem 2.4rem;
    background-color: $color-tertiary-light;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.4rem 0.7rem rgba($color-black, 0.3);
    color: $color-white;
    transition: all 0.2s;
  }
  button:hover {
  }

  p {
    margin-bottom: 1.2rem;
    span {
      color: $color-tertiary-light;
      font-size: 1.8rem;
    }
  }
}
.heightBottom {
  height: calc(100vh - 55.5rem);
  @media only screen and (max-width: $bp-medium) {
    // display: none;
  }
}

@media only screen and (max-width: $bp-small) {
  .radioTwoLines {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: left;
    // flex-direction: row;
  }
}
.marginLeft {
  margin-left: 0.5rem;
}
@media only screen and (max-width: $bp-small) {
  .checkMobile {
    font-size: 1.5rem;
    // display: grid;
    // grid-template-columns: 5% 58% 42%;
    // text-align: left;
    // flex-direction: row;
  }
}
// @media only screen and (max-width: $bp-small-2) {
//   .checkMobile {
//     width: 36rem;
//     font-size: 1.5rem;
//     // display: grid;
//     // grid-template-columns: 5% 58% 42%;
//     // text-align: left;
//     // flex-direction: row;
//   }
// }
